<div class="container">
  <div class="d-flex flex-row">
    <div class="form-check form-check-inline">
      <label>
        <li
          class="p-2"
          [ngStyle]="{
            textDecoration: todo.completed ? 'line-through' : 'none'
          }"
        >
          {{ todo.content }}
        </li>

        <button (click)="deleteTodo()" class="btn btn-danger btn-sm p-2">
          Remove Todo
        </button>
      </label>
      <input
        type="radio"
        aria-label="Radio button for following text input"
        [checked]="todo.completed"
        (click)="toggleTodo()"
        class="p-2 form-check-input"
      />
    </div>
  </div>
</div>
